body { background-color: #edca82; 
}
h1{
text-align: center;
}

#carrousel {
    position: relative; height: 200px; width: 700px; margin: auto;
    }

#carrousel ul li {
    margin-left: 150px;
    top: 0;
    left: 0;
    list-style: none;
    }
.next {
    position: relative;
    top: 80px;
    left: 900px; 
    background-color: #097770;
    color:white;
    font-size: 20px;
    border-radius: 6px; 
}
.prev {
    position: relative;
    top: 80px;
    left: 420px; 
    background-color: #097770; 
    color:white;
    font-size: 20px;
    border-radius: 6px;
}